@using SwagAndHelp.Models;
@model ModelInfo

<div class="container-fluid">
    <article class="d-flex flex-column w-100">
        <div class="form-inline">
            <span class="h3">選擇類別：</span><span class="h3">@Model.Name</span>
        </div>
        <div class="form-inline w-100 border-bottom border-bottom-dark">
            <span class="h4">類別說明：</span><span class="h4">@Model.Desc</span>
        </div>
        <div class="form-inline w-100 flex-fill">
            <table class="table table-hover p-1 m-1">
                <thead>
                    <tr>
                        <th scope="col" class="col-3">名稱</th>
                        <th scope="col" class="col-4">描述</th>
                        <th scope="col" class="col-2">型態</th>
                        <th scope="col" class="col-3">外部引用</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (ColumnInfo oCol in Model.Cols)
                    {
                        <tr>
                            <td scope="row" class="col-3"><span>@oCol.Name</span></td>
                            <td class="col-4"><span>@oCol.Desc</span></td>
                            <td class="col-2">
                                <span>
                                    @oCol.Type
                                    @if (oCol.Children != "")
                                    {
                                        <a href="@Url.Action("ResourceModel", "Home", new { modelName = oCol.Children })">@oCol.Children</a>
                                    }
                                </span>
                            </td>
                            <td class="col-3"><span>@oCol.Rule</span></td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </article>
</div>
